* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    touch-action: manipulation;
}

:root {
  --locations-side: 140px;
  --locations-grid-gap: 8px;
  --locations-grid-gap: 8px;

  --red: #ff2a2a;
  --green: #35dd68;

  --text-mid-gray: #a2a2a2;
}

.light {
    --background: #fff;
    --light-gray: #f2f2f2;
    --track-outline: #f2f2f2;
    --light-contrast: #1c84d6; /*5a6174*/ 
    --dark-contrast: #5ea7e1; /*9298aa*/

    --white-light-gray: #fff;
    --light-dark-gray: #f2f2f2;

    //--light-gray: #eee;
    --text-gray: #47474a;

    --text-white: #fff;
    --text-blue-white: #1c84d6;
    --text-gray-white: #47474a;

    --shadow: 0 0 15px 0px rgba(0, 0, 0, 0.2);
}

.dark {
    --background: #404040;
    /*--light-gray: #9298aa;*/
    --track-outline: #9298aa;
    --light-gray: #c6cfeb;
    --light-contrast: #5a6174;
    --dark-contrast: #9298aa;

    /*NEW COLOURS*/
    --light-contrast: #1c84d6;
    --dark-contrast: #6ebee6;
    --light-gray: #555;
    --white-light-gray: #555;
    --light-dark-gray: #2e2e30;

    --text-white: #fff;
    --text-blue-white: #fff;
    --text-gray-white: #fff;

    --shadow: none;
}

body {
    background-color: var(--background);
    transition: background-color 0.4s ease-in-out;
    font-family: 'Montserrat', sans-serif;
}

body, html {
    height: 100%;
}

.loader {
  background-color: #fff;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loader.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

.loader img {
  width: 150px;
}

.loader h3 { font-size: 28px; }

.loader svg {
  width: 40px;
  height: 40px;
  animation: spinner 1s linear infinite;
  margin-top: 20px;
}

@keyframes spinner {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

h3 {
    font-size: 38px;
    letter-spacing: 2px;
    text-align: center;
    margin: 0 0 20px;
    font-weight: 500;
    color: var(--light-contrast);
}

.app {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 40px;
}

.app.open {
    visibility: hidden;
    opacity: 0;
}

.logo {
    margin: 30px auto 0;
    width: 180px;
    display: block;
}

.time-picker {
    max-width: 200px;
    margin: 0 auto;
    color: #53565a;
    font-size: 35px;
    font-weight: 700;
    user-select: none;
}

.time-picker .minute {
    position: relative;
    padding: 8px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.time-picker .minute .min {
    background: none;
    color: var(--text-gray-white);
    font-size: 35px;
    appearance: none;
    border: none;
    outline: none;
    display: block;
    width: 100px;
    height: 40px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.time-picker .minute .min-up,
.time-picker .minute .min-down {
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.15s ease-in-out;
    user-select: none;
}

.time-picker .minute .min-up:hover,
.time-picker .minute .min-down:hover {
    background-color: var(--light-gray);
}

.room-settings .mins-span {
  margin-top: -13px;
  font-weight: bold;
  color: var(--text-gray-white);
  font-size: 13px;
}

.settings {
  margin: 50px auto 0;
  max-width: 200px;
  width: 200px;
} 

.settings .setting {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.settings .setting .setting-title {
  color: var(--text-blue-white);
  font-weight: 600;
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 15px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.switch input:focus { outline: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light-gray);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: -3px;
  background-color: var(--dark-contrast);
  -webkit-transition: .3s;
  transition: .3s;
}

input:checked + .slider {
  background-color: var(--light-contrast);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--light-contrast);
}

input:checked + .slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#start, #join {
    margin: 0 auto;
    display: block;
    border-radius: 4px;
    color: var(--text-white);
    background-color: var(--light-contrast);
    width: 240px;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    font-weight: 600;
    transition: background-color 0.2s ease-in-out, color 0.4s ease-in-out;
}

#start:hover {
    background-color: var(--dark-contrast);
}

#join {
  margin-bottom: 15px;
  color: var(--text-gray-white);
  background-color: var(--light-gray);
}
#join:hover {
    background-color: #eee;
}


#player-name, #join-code {
  margin: 0 auto 15px;
  display: block;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  color: var(--text-gray-white);
  background-color: var(--light-dark-gray);
  width: 240px;
  text-align: center;
  text-decoration: none;
  padding: 12px;
  font-weight: 600;
  transition: background-color 0.2s ease-in-out, color 0.4s ease-in-out;
}




/* Name modal */
.name-modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background);
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  padding: 40px;
  visibility: hidden;
  z-index: 2;
  border-radius: 6px;
}

/*.name-modal input {
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  color: var(--text-gray-white);
  background-color: var(--light-gray);
  width: 240px;
  text-align: center;
  text-decoration: none;
  padding: 12px;
  font-weight: 600;
  transition: background-color 0.2s ease-in-out, color 0.4s ease-in-out;
}*/

.name-modal img {
  width: 85px;
  margin: 0 auto 15px;
}

.name-modal h3 {
  color: var(--text-gray-white);
  font-size: 25px;
  font-weight: bold;
}

.name-modal .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.name-modal .buttons a {
  display: inline-block;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  color: var(--text-gray-white);
  background-color: var(--light-gray);
  width: 47%;
  text-align: center;
  text-decoration: none;
  padding: 12px;
  font-weight: 600;
  transition: background-color 0.2s ease-in-out, color 0.4s ease-in-out;
}

.name-modal .buttons a:nth-child(2) {
  background-color: var(--light-contrast);
  color: #fff;
}


.name-modal.open {
    opacity: 1;
    visibility: visible;
}

#cover {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(2px);
  opacity: 0;
  visibility: hidden;
}
#cover.open {
  opacity: 1;
  visibility: visible;
}




@media (min-height: 800px) {
    .app {
        height: 750px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}



.game {
  padding-bottom: 30px;
}

.game-info {
  margin: 40px auto;
  text-align: center;
}

.game-info .timer{
  margin-bottom: 40px;
  font-size: 45px;
  font-weight: bold;
  color: var(--text-gray-white);
}

.game-info .card {
  width: 190px;
  height: 190px;
  border-radius: 6px;
  margin: 0 auto 20px;
  background-color: var(--white-light-gray);
  box-shadow: var(--shadow);
  cursor: pointer;
  padding: 14px;
  transition: background-color 0.2s ease-in-out;
}

.game-info .card .bg {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
}


.game-info .info {
  color: var(--text-gray-white);
  cursor: pointer;
}

.game-info .info .game-location {
  font-weight: bold;
  font-size: 25px;
}
.game-info .info .job {
  font-weight: 600;
  font-size: 20px; 
}

.game-info .game-controls {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: 30px auto;
}

.game-info .game-controls a {
  display: inline-block;
  border-radius: 4px;
  border: none;
  font-size: 13px;
  color: #fff;
  background-color: var(--red);
  width: 47%;
  text-align: center;
  text-decoration: none;
  padding: 8px;
  font-weight: 600;
  transition: background-color 0.2s ease-in-out, color 0.4s ease-in-out;
}

.game-info .game-controls a:nth-child(2) {
  background-color: var(--green);
}

.players {
  margin: 30px auto;
}

.players h3 {
  color: var(--text-gray-white);
  font-weight: bold;
}

.players .players-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  margin: 0 auto;
  max-width: 280px;
}

.players .players-grid .player-card {
  text-align: center;
  padding: 14px;
  background-color: var(--light-gray);
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  color: var(--text-gray-white);
  position: relative;
  border-radius: 3px;
}

.players .players-grid .player-card.striked {
  /*text-decoration: line-through;*/
}

.players .players-grid .player-card::before {
  position: absolute;
  content: attr(data-content);
  /*color: var(--text-gray-white);*/
  color: #999;
  clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--text-gray-white);
  transition: clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.players .players-grid .player-card.striked::before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}


.players .players-grid .player-card.first:after {
  content: '1st';
  width: 10px;
  height: 10px;
  padding: 5px;
  font-size: 8px;
  border-radius: 50%;
  color: #fff;
  background: var(--light-contrast);
  position: absolute;
  right: -5px;
  top: -5px;
}

.locations {
  margin: 30px auto;
  padding: 15px;
}

.locations h3 {
  color: var(--text-gray-white);
  font-weight: bold;
}

.locations .locations-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--locations-grid-gap);
  margin: 0 auto;
  width: calc((var(--locations-side) * 2) + (1 * var(--locations-grid-gap)));
  max-width: 800px;
  /*padding: 15px;*/
  text-align: center;
}

.locations .locations-grid .location-card {
  width: var(--locations-side);
  height: var(--locations-side);
  color: #fff;
  text-shadow: 1px 1px black;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  cursor: pointer;
}

.locations .locations-grid .location-card .red-x {
  background-image: url('../includes/imgs/cross.png');
  width: 85%;
  height: 85%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
  height: 0;
  width: 0;
  /*left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;*/
  opacity: 0;
  transition: all 0.1s ease-in-out;
}
.locations .locations-grid .location-card .red-x.visible {
  opacity: 1;
  height: 100px;
  width: 100px;
}

/* Name modal */
.end-modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background);
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  padding: 40px;
  visibility: hidden;
  z-index: 2;
  border-radius: 6px;
}

.end-modal img {
  width: 85px;
  margin: 0 auto 15px;
}

.end-modal h3 {
  color: var(--text-gray-white);
  font-size: 25px;
  font-weight: bold;
}

.end-modal .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.end-modal .buttons a {
  display: inline-block;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  color: #fff;
  background-color: var(--light-contrast);
  width: 47%;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  transition: background-color 0.2s ease-in-out, color 0.4s ease-in-out;
}

.end-modal .buttons a:nth-child(2) {
  background-color: var(--red);
}


.end-modal.open {
    opacity: 1;
    visibility: visible;
}

@media (min-width: 600px) {
  .locations .locations-grid { 
    grid-template-columns: 1fr 1fr 1fr;
    width: calc((var(--locations-side) * 3) + (2 * var(--locations-grid-gap)));
  }
}
@media (min-width: 800px) {
  .locations .locations-grid { 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: calc((var(--locations-side) * 4) + (3 * var(--locations-grid-gap)));
  }
}
@media (min-width: 1000px) {
  .locations .locations-grid { 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: calc((var(--locations-side) * 6) + (5 * var(--locations-grid-gap)));
  }
}



/* Game waiting room */
.room {
  padding-bottom: 30px;
}

.room-settings {
  text-align: center;
}
.room .room-code {
  margin-top: 30px;
  color: var(--text-gray-white);
}
.room h3 {
  color: var(--text-gray-white);
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}


.room-players {
  margin: 0 auto;
  max-width: 240px;
}

.room-player-card {
  background-color: var(--light-gray);
  padding: 15px 20px;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 15px;
  color: var(--text-mid-gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.room-player-card span {
  font-weight: bold;
  color: var(--text-gray-white);
  margin-right: 10px;
  font-size: 18px;
}

.room-player-card .player-status {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--red);
  top: 0;
  right: 0;
}

.room-player-card .player-status.ready {
  background-color: var(--green);
}

.room-controls {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
}

#ready_up, #leave_room {
  /*display: block;*/
  border-radius: 4px;
  color: var(--text-white);
  background-color: #f44336;
  width: 48%;
  text-align: center;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 12px;
  font-weight: 600;
  transition: background-color 0.2s ease-in-out, color 0.4s ease-in-out;
}

#ready_up {
  background-color: var(--green);
}

#ready_up.ready {
  background-color: var(--green);
}

#start_game {
    margin: 0 auto;
    display: block;
    border-radius: 4px;
    color: var(--text-white);
    background-color: var(--light-contrast);
    width: 240px;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    font-weight: 600;
    transition: background-color 0.2s ease-in-out, color 0.4s ease-in-out;
}

#start_game:hover {
    background-color: var(--dark-contrast);
}